GOOGLE_ADS_DEVELOPER_TOKEN=
# Client account where campaigns live
GOOGLE_ADS_CUSTOMER_ID=207-823-9713
# MCC for USCivics-Quiz
GOOGLE_ADS_LOGIN_CUSTOMER_ID=194-190-5637
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
# Optional
GOOGLE_ADS_API_VERSION=v19
